@import './base.css';

#app {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  width: 100%;
}

.customButton {
  position: relative;
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
  /* width: 100%; */
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  color: #444;
  letter-spacing: 0.05em;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  text-decoration: none;
}
.customButton:focus {
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
}
.customButton:disabled {
  cursor: not-allowed;
  color: tomato;
}

.customInput {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 15px 20px;
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 1);
  font-size: 1.2em;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c5adcc #eee;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #c5adcc;
  border-radius: 15px;
  border: 3px double #eee;
}

/* ===== Duel Game ===== */
:root {
  --width-wonder: 87px;
  --height-wonder: 62px;
  --width-tier: 50px;
  --height-tier: 77px;
}

.cashSum {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 136px 136px;
  background-image: url('@/assets/duel/sprites.webp');
  background-position: -48px -114px;
  width: 17px;
  height: 17px;
  font-size: 10px;
  text-align: center;
  line-height: 17px;
  border-radius: 50%;
  bottom: 50%;
  font-weight: bold;
  z-index: 20;
}

.bgWonderCard {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-wonder);
    height: var(--height-wonder);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: calc(var(--width-wonder) * 5) calc(var(--height-wonder) * 4);
    background-image: url('@/assets/duel/wonders.webp');
    background-position: calc(var(--width-wonder) * -1) calc(var(--height-wonder) * -3);
    z-index: 10;
}

@keyframes showElement {
  0%,
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateHand {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg) scale(1.1);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes pulseBorder {
  0% {
    border: 3px dotted tomato;
  }

  50% {
        border: 3px dotted transparent;
  }

  100% {
        border: 3px dotted tomato;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
