@import './base.css';

#app {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  width: 100%;
}

.customButton {
  position: relative;
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
  /* width: 100%; */
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  color: #444;
  letter-spacing: 0.05em;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  text-decoration: none;
}
.customButton:focus {
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
}
.customButton:disabled {
  cursor: not-allowed;
  color: tomato;
}

.customInput {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 15px 20px;
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
  font-size: 1.2em;
}

@media (min-width: 1024px) {
  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
